#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.App {
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #333;
}

.todo-container {
  max-width: 400px;
  margin: 0 auto;
}

input {
  width: 70%;
  padding: 8px;
  margin-right: 5px;
}

button {
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 8px;
}
